@font-face {
    font-family: EstedadThin; 
    src: url('https://fonts.kootahkon.ir/fonts/Estedad/Estedad-Thin.ttf');
}

@font-face {
    font-family: EstedadLight; 
    src: url('https://fonts.kootahkon.ir/fonts/Estedad/Estedad-Light.ttf');  
}

@font-face {
    font-family: EstedadMedium; 
    src: url('https://fonts.kootahkon.ir/fonts/Estedad/Estedad-Medium.ttf'); 
}

@font-face {
    font-family: EstedadBold; 
    src: url('https://fonts.kootahkon.ir/fonts/Estedad/Estedad-Bold.ttf');
}

@font-face {
    font-family: EstedadBlack; 
    src: url('https://fonts.kootahkon.ir/fonts/Estedad/Estedad-Black.ttf');
}

@font-face {
    font-family: Estedad-VF; 
    src: url('https://fonts.kootahkon.ir/fonts/Estedad/Estedad-VF.ttf');
}